#container {
    background: #f5eee7;
    margin: auto auto;
    text-align: center;
    width: 600px;
    height: 650px;
}

#header {
    background: #f0e5db;
    width: 100%;
    font: 16px sans-serif;
    line-height: 50px;
    height: 50px;
}

#contentRight {
    background: #f0e5db;
    float: right;
    width: 50%;
    height: 250px;

    display: flex;
    align-items: center;
    justify-content: center;
}

#contentLeft {
    background: #f0e5db;
    float: left;
    width: 50%;
    height: 250px;

    display: flex;
    align-items: center;
    justify-content: center;
}

#contentCenter {
    padding-top: 20px;
    background: #f0e5db;
    width: 100%;
    height: 350px;
    clear: both;
}

#contentBottom {
    width: 100%;
    height: 20px;    
}

#img {
    width: 250px;
}

#inputValues {
    text-align: left;
}

#resultTable {
    padding-top: 20px;
    border-collapse: collapse;
    background-color: #ffffff;
    text-align: center;
}