#container {
    background: #f5eee7;
    margin: auto auto;
    width: 500px;
    height: 650px;
}

div#container div {
    background: #f0e5db;
}

div.mainContent div {
    width: 50%;
    height: 250px;
}

#header {
    width: 100%;
    font: 16px sans-serif;
    color: rgb(0, 0, 0);
    line-height: 50px;
    height: 50px;
    text-align: center;
}

#contentRight {
    float: right;

    display: flex;
    align-items: center;
    justify-content: center;
}

#contentLeft {
    float: left;
}

#contentCenter {
    padding-top: 20px;
    width: 100%;
    height: 350px;
    clear: both;
}

#contentBottom {
    width: 100%;
    height: 20px;    
}

#img {
    width: 250px;
}

#inputValues {
    padding-left: 50px;
    padding-top: 15px;
}

#resultTable {
    border-collapse: collapse;
    background-color: #ffffff;
}

#resultTable th, #resultTable td {
    border: 1px solid black;
    text-align: center;
}

